# -----------------
# Python
# -----------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual env
venv/
.env

# -----------------
# Node / React
# -----------------
node_modules/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# -----------------
# OS files
# -----------------
.DS_Store
Thumbs.db

# -----------------
# Uploads / data
# -----------------
uploads/
*.csv

# -----------------
# Misc
# -----------------
.vscode/
.idea/

# hello 